body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #b3cdd1;
    background-image: linear-gradient(0deg, #b3cdd1 0%, #9fa4c4 74%);
}

.board {
    display: flex;
    border: 0.5px solid black;
    width: 608px;
    height: 608px;
    flex-direction: column;
    box-shadow: 10px 10px 8px #888888;
}

.row {
    display: flex;
    height: 100%;
}

.square {
    width: 100%;
    background-color: white;
    /* border: 0.5px solid black; */
}

/* .square:hover {
    background-color: #ff4e00;
} */

button {
    border: 0.5px solid black;
    border-radius: 4px;
    padding: 4px 12px;
    background-color: #3399ff;
    box-shadow: 2px 2px 8px #888888;
}

.footer {
    width: 100%;
    height: 24px;
    text-align: center;
}